In [13]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. 
Then, print the series.'''

import pandas as pd

data = [4,8,15,16,23,42]

seriesx = pd.Series(data)

In [14]:
seriesx

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [15]:
type(seriesx)

pandas.core.series.Series

In [27]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''

data = range(10,20)
print(list(data[0:]))

series = pd.Series(data)
print("\n",series)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

 0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [28]:
'''Create a Pandas DataFrame that contains the following data: Name , Age , Gender'''

data = {
    "Name" : ["pratish","sakshi","Jaya"],
    "Age" : [22 , 22 , 21],
    "Gender" : ["Male", "Female", "Female"]

}

df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0  pratish   22    Male
1   sakshi   22  Female
2     Jaya   21  Female

In [33]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''


'''A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular 
data structure with labeled axes (rows and columns). It can be thought of as a collection of 
Series objects sharing the same index.

A Series in Pandas, on the other hand, is a one-dimensional array-like object that holds a single 
column of data along with an index.'''


df1 = pd.Series([11,12,13,14,151,6], name="numbers")
print(f"{df1} \n\n and the type of df1 : {type(df1)}")

print("\n\n")

data = {
    "Name" : ["pratish","junior"],
    "Role" : ["Senior Data Scientist", None],
    "Age" : [23, 25]
}

df2 = pd.DataFrame(df2)

print(f"{df2} \n And the type of df2 : {type(df2)}")

0     11
1     12
2     13
3     14
4    151
5      6
Name: numbers, dtype: int64

 and the type of df1 : <class 'pandas.core.series.Series'>



      Name                   Role  Age
0  pratish  Senior Data Scientist   23
1   junior                   None   25
 And the type of df2 : <class 'pandas.core.frame.DataFrame'>

In [35]:
'''Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?'''


'''
Here is a comprehensive list of common functions available in Pandas for manipulating DataFrames:

### Basic DataFrame Operations
- **`head(n)`**: Returns the first `n` rows of the DataFrame.
- **`tail(n)`**: Returns the last `n` rows of the DataFrame.
- **`shape`**: Returns a tuple representing the dimensionality of the DataFrame.
- **`info()`**: Provides a summary of the DataFrame, including index dtype and columns, non-null values, and memory usage.
- **`describe()`**: Generates descriptive statistics of numeric columns.
- **`dtypes`**: Returns the data types of each column.
- **`columns`**: Returns the column labels of the DataFrame.
- **`index`**: Returns the index labels of the DataFrame.

### Data Selection and Filtering
- **`loc[]`**: Access a group of rows and columns by labels or a boolean array.
- **`iloc[]`**: Access a group of rows and columns by integer positions.
- **`at[]`**: Access a single value for a row/column label pair.
- **`iat[]`**: Access a single value for a row/column integer position pair.
- **`query()`**: Query the DataFrame using a boolean expression.

### Data Manipulation
- **`sort_values(by, ascending)`**: Sort the DataFrame by one or more columns.
- **`sort_index()`**: Sort the DataFrame by index.
- **`rename()`**: Rename columns or index labels.
- **`set_index()`**: Set the DataFrame index using one or more existing columns.
- **`reset_index()`**: Reset the index to the default integer index.
- **`drop()`**: Drop specified labels from rows or columns.
- **`dropna()`**: Remove missing values.
- **`fillna(value)`**: Fill missing values with a specified value.
- **`replace()`**: Replace values in the DataFrame.
- **`apply()`**: Apply a function along an axis of the DataFrame.
- **`applymap()`**: Apply a function to each element of the DataFrame.
- **`map()`**: Map values of a Series according to an input correspondence.

### Aggregation and Grouping
- **`groupby(by)`**: Group DataFrame using a mapper or by series of columns.
- **`agg()`**: Aggregate using one or more operations over the specified axis.
- **`pivot_table()`**: Create a pivot table as a DataFrame.
- **`crosstab()`**: Compute a cross-tabulation of two (or more) factors.
- **`transform()`**: Transform data using a function or aggregation.

### Merging and Joining
- **`merge()`**: Merge DataFrames using a database-style join.
- **`join()`**: Join columns of another DataFrame.
- **`concat()`**: Concatenate two or more DataFrames along a particular axis.

### Data Cleaning and Conversion
- **`astype()`**: Cast a DataFrame to a specific dtype.
- **`to_datetime()`**: Convert a column to datetime.
- **`to_numeric()`**: Convert a column to numeric values.

### Data Export and Input
- **`to_csv()`**: Export DataFrame to a CSV file.
- **`to_excel()`**: Export DataFrame to an Excel file.
- **`read_csv()`**: Read a CSV file into a DataFrame.
- **`read_excel()`**: Read an Excel file into a DataFrame.



These functions cover a wide range of operations for exploring, manipulating, and analyzing data within a DataFrame. '''


import pandas as pd

# Create a DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'id': [1, 2, 3]
}
df = pd.DataFrame(data)

# Example of using some functions
print(df.head())                 # Display first 5 rows
print("\n")  

print(df.describe())             # Descriptive statistics
print("\n")  

print(df.sort_values(by='age'))  # Sort by 'age'
print("\n") 

print(df.drop(columns=['id']))   # Drop the 'id' column

      name  age  id
0    Alice   25   1
1      Bob   30   2
2  Charlie   35   3


        age   id
count   3.0  3.0
mean   30.0  2.0
std     5.0  1.0
min    25.0  1.0
25%    27.5  1.5
50%    30.0  2.0
75%    32.5  2.5
max    35.0  3.0


      name  age  id
0    Alice   25   1
1      Bob   30   2
2  Charlie   35   3


      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [40]:
'''Q6. Which of the following is mutable in nature Series, DataFrame, Panel?'''

#Answer 

'''
In Pandas, Series, DataFrame, and Panel (which has been deprecated in favor of DataFrame 
and MultiIndex for multi-dimensional data) are all mutable in nature. This means you can 
modify their contents after creation. Here’s a brief overview:

Mutable Nature of Each:

'''

# Series:

# Mutable: You can change the values of a Series after it has been created.

# Example :

df4 = pd.Series([0,1,23,11])
df4[0] = 77
print(df4, "\n")


#DataFrame:'

#Mutable: You can change the values of a DataFrame, add new columns, remove columns, or modify rows.

#Example:

df5 = pd.DataFrame({ "A" : [11,12,13], "B" : [21,22,23]})
df5.at[0,"A"] = 77
print(df5,"\n")

# panel

data = pd.panel( { "item1" : pd.DataFrame[ [111,222,333 ], [444,555,666]],
                  "item2" : pd.DataFrame[ [000,100,200],[300,400,500]]})
print(data)

0    77
1     1
2    23
3    11
dtype: int64

    A   B
0  77  21
1  12  22
2  13  23

AttributeError: module 'pandas' has no attribute 'panel'

In [41]:
''''''


# Creating individual Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'], name='name')
age_series = pd.Series([25, 30, 35], name='age')
id_series = pd.Series([1, 2, 3], name='id')

df7 = pd.concat([name_series,age_series,id_series],axis=1)
df7

      name  age  id
0    Alice   25   1
1      Bob   30   2
2  Charlie   35   3

In [43]:
df8 = pd.concat([name_series,age_series,id_series],axis=0)
df8

0      Alice
1        Bob
2    Charlie
0         25
1         30
2         35
0          1
1          2
2          3
dtype: object