In [4]:
'''
Q1. Write a code to print the data present in the second row of the dataframe, df.'''

import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df.iloc[1]
df.values[1]

array(['Machine Learning', 3], dtype=object)

In [5]:
'''Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?'''

'Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?'

In [12]:
'''Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].'''

import pandas as pd

# Create the DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindex the DataFrame and store it in a new variable
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Print the reindexed DataFrame
print("Reindexed DataFrame:")
print(new_df)

# Access the row with label 2 using loc
loc_2 = new_df.loc[2]
print("\nnew_df.loc[2]:")
print(loc_2)

# Access the row at integer position 2 using iloc
iloc_2 = new_df.iloc[2]
print("\nnew_df.iloc[2]:")
print(iloc_2)

Reindexed DataFrame:
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [8]:
'''Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’'''

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
print("orignal table",df1)

# find mean
print("mean \n",df1.mean())

# standard deviation of column 2
print("standard deviation of column 2 : ",df1["column_2"].std())

orignal table    column_1  column_2  column_3  column_4  column_5  column_6
1  0.438098  0.025693  0.925240  0.134756  0.637437  0.722912
2  0.745491  0.684179  0.544916  0.744688  0.226569  0.672973
3  0.328316  0.820147  0.465042  0.983429  0.560794  0.228926
4  0.523666  0.594432  0.965662  0.090682  0.724260  0.429796
5  0.471342  0.716901  0.845637  0.000586  0.977184  0.601996
6  0.834013  0.297624  0.547326  0.871572  0.496822  0.480604
mean
 column_1    0.556821
column_2    0.523163
column_3    0.715637
column_4    0.470952
column_5    0.603844
column_6    0.522868
dtype: float64
standard deviation of column 2 :  0.3016896688635311

In [16]:
'''Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]'''

print(df1)

# replace the data
df1.loc[2] = ["a","b","c","d","e","f"]
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.438098  0.025693  0.925240  0.134756  0.637437  0.722912
2  1.000000  2.000000  3.000000  4.000000  5.000000  6.000000
3  1.000000  2.000000  3.000000  4.000000  5.000000  6.000000
4  0.523666  0.594432  0.965662  0.090682  0.724260  0.429796
5  0.471342  0.716901  0.845637  0.000586  0.977184  0.601996
6  0.834013  0.297624  0.547326  0.871572  0.496822  0.480604

C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'a' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]
C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'b' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]
C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'c' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]
C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'd' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]
C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'e' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]
C:\Users\HP\AppData\Local\Temp\ipykernel_13352\1660102762.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'f' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2] = ["a","b","c","d","e","f"]

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.438098  0.025693   0.92524  0.134756  0.637437  0.722912
2         a         b         c         d         e         f
3       1.0       2.0       3.0       4.0       5.0       6.0
4  0.523666  0.594432  0.965662  0.090682   0.72426  0.429796
5  0.471342  0.716901  0.845637  0.000586  0.977184  0.601996
6  0.834013  0.297624  0.547326  0.871572  0.496822  0.480604

In [23]:
'''Q6. What do you understand about the windows function in pandas and list the types of windows
functions?'''



'''In pandas, a windows function allows you to perform operations on a sliding window of data 
points, which is useful for various statistical, analytical, and time-series operations. 
These functions help in calculating rolling statistics like moving averages, cumulative sums, 
and exponentially weighted calculations.

Types of Windows Functions in pandas
Rolling Window Functions:

These functions operate on a rolling or sliding window of fixed size, applying a function to each 
window. Examples include:
rolling(): Used to calculate rolling statistics.
Common methods: mean(), sum(), min(), max(), std(), var(), median(), apply(), etc. '''

data = {"data_column" : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] }
df = pd.DataFrame(data)

df['rolling_mean'] = df['data_column'].rolling(window=3).mean()

df['expanding_sum'] = df['data_column'].expanding().sum()

df['ewm_mean'] = df['data_column'].ewm(span=3).mean()

df['custom_window'] = df['data_column'].rolling(window=3, win_type='triang').sum()

df

   data_column  rolling_mean  expanding_sum   ewm_mean  custom_window
0           10           NaN           10.0  10.000000            NaN
1           20           NaN           30.0  16.666667            NaN
2           30          20.0           60.0  24.285714           40.0
3           40          30.0          100.0  32.666667           60.0
4           50          40.0          150.0  41.612903           80.0
5           60          50.0          210.0  50.952381          100.0
6           70          60.0          280.0  60.551181          120.0
7           80          70.0          360.0  70.313725          140.0
8           90          80.0          450.0  80.176125          160.0
9          100          90.0          550.0  90.097752          180.0

In [30]:
'''Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]'''

import pandas as pd

# Get the current date and time
current_date = pd.Timestamp.now()
print("current_date",current_date)

# Extract the current month and year
currenr_year = current_date.year
current_month = current_date.month

print(f" month : {current_month} & year : {currenr_year}")

current_date 2024-07-17 21:49:09.591171
 month : 7 & year : 2024

In [32]:
'''Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.'''

import pandas as pd

# Function to calculate the difference between two dates
def calculate_date_difference(date1, date2):
    # Convert the input strings to pandas Timestamps
    date1 = pd.Timestamp(date1)
    date2 = pd.Timestamp(date2)
    
    # Calculate the difference
    difference = date2 - date1
    
    # Extract the difference in days, hours, and minutes
    days = difference.days
    seconds = difference.seconds
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    
    return days, hours, minutes

# Prompt the user to enter the two dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the difference
days, hours, minutes = calculate_date_difference(date1, date2)

# Display the result
print(f"Difference: {days} days, {hours} hours, and {minutes} minutes")

Difference: -366 days, 0 hours, and 0 minutes

In [34]:
import pandas as pd

 

data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}

df = pd.DataFrame(data)

 

df_subset = df.loc[1:2, 'name']
df_subset

1        Bob
2    Charlie
Name: name, dtype: object